.modal-container {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80vw;
  margin: auto;
  border-radius: var(--border-radius);
}
.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
