.close-button {
  background-color: var(--red);
  border: 0;
  font-family: "CuteDino", sans-serif;
  color: var(--white);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  border-radius: var(--border-radius);
}
.close-button:hover {
  background-color: var(--red-light);
}
.close-button-container {
  margin: 4px 2px;
  border: var(--border-size) var(--white) solid;
  border-radius: 24px;
  padding-bottom: 5px;
  padding-right: 5px;
}
