:root {
  --pink: #fe77ba;
  --red: #fd1b1b;
  --red-light: #fe7777;
  --blue: #76bbff;
  --orange: #efbe37;
  --orange-light: #f6d989;
  --yellow: #fff176;
  --blue-light: #87c0f8;
  --blue-dark: #004080;
  --purple: #af63fb;
  ---green: #acfc5b;
  --beige: #f9df88;
  --white: #fff;
  --black: #000;
  --sunburst-light-orange: var(--orange-light);
  --sunburst-dark-orange: var(--orange);
  --sunburst-dark-blue: var(--blue);
  --sunburst-light-blue: var(--blue-light);
  --border-radius: 20px;
  --border-size: 3px;
}
@font-face {
  font-family: "CuteDino";
  src: url(./../public/fonts/Cute\ Dino.ttf);
}
#root {
  height: 100%;
  width: 100%;
}
body {
  font-family: "CuteDino", sans-serif;
  color: var(--white);
  background-color: var(--blue);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.layer {
  position: absolute;
}
